// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";

body {
  background: #e2ebf3;
  position: relative;
}

.container {
  width: 600px;
  margin: 20px auto;
}

form {
  width: 600px;
  label {
    margin-top: 10px;
  }
  .messagebox {
    width: 400px;
    height: 200px;
    margin-bottom: 0;
    display: inline-block;
  }
  .box {
    margin-bottom: 0;
    display: inline-block;
    width: 400px;
  }
  .small {
    vertical-align: top;
    color: red;
    display: inline-block;
  }
  button {
    display: block;
  }
  button:disabled {
    background-color: grey;
  }
}

