<h3>Contact Us</h3>
<form name="form" ng-submit="vm.addContact(contact)">

  <label>Name</label>
  <input type="text" class="box" placeholder="Jane Doe" name="contactName" ng-model="contact.name" required>
  <div ng-messages="form.contactName.$error">
    <small ng-message="required">{{ vm.nameErrMsg }}</small>
  </div>
  <label>Email</label>
  <input type="email" class="box" placeholder="janedoe@mail.com" name="contactEmail" ng-model="contact.email" required>
  <div ng-messages="form.contactEmail.$error">
    <small ng-message="email">{{ vm.emailEmptErrMsg }}</small>
    <small ng-message="required">{{ vm.emailErrMsg }}</small>
  </div>
  <label>Website</label>
  <input class="box" placeholder="http://janedoe.com" name="contactWebsite" ng-model="contact.website" required>
  <div ng-messages="form.contactMessage.$error">
    <small>{{ vm.websiteErrMsg }}</small>
  </div>
  <label>Message</label>
  <textarea type="text" class="messagebox" placeholder="A friendly message" name="contactMessage" ng-model="contact.message" required></textarea>
  <div ng-messages="form.contactMessage.$error">
    <small>{{ vm.messageErrMsg }}</small>
  </div>
  <button>Submit</button>

</form>